<%= render "shared/header" %>

<body>
  <hr class="my-1">
  <div class="bg-img p-3 p-sm-5 mb-4">
    <div class="container">
      <h1 class="display-4">Welcome to Bright Side!</h1>
      <p class="lead">このアプリは起こった出来事のポジティブな面にフォーカスしたSNSアプリです。友人と共有することで、お互いに励まし合いながら、ポジティブな気持ちを共有を共有しましょう。</p>
      <p class="lead-eng">Have wonderful days to your life! Enjoy my app!</span>
      </p>
    </div>
  </div>
  <div class="container mt-2">
    <h3>注意点</h3>
    <p class="alert alert-dark">このアプリには削除機能はありません。</br>
      もし削除したくなったら、編集して別の出来事のポジティブな面に変更してください。
    </p>
  </div>
</body>

<% if flash.notice.present? %>
  <div class="alert alert-success"><%= flash.notice.html_safe %></div>
<% end %>

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <% @good_founds.each do |good_found|%>
        <div class="col card-box">
          <div class="card h-100">
            <div class="card-header">
              <%= good_found.execution_date %>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                <%= link_to good_found_path(good_found.id) do %>
                  <%= good_found.title %>
                <% end %>
                </h5>
              <p class="card-text">
                <%= truncate(good_found.event_detail, :length => 10) %>
              </p>
            </div>
            <div class="card-footer">
              by <%= good_found.user.nickname %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</main>
<%# 新規投稿ボタン %>
<% if user_signed_in?%>
  <div class="position-fixed bottom-0 end-0 p-5">
    <%= link_to "新規投稿", new_good_found_path, class: 'btn btn-info rounded-pill fw-bold btn-lg' %>
  </div>
<% end %>
<%# /新規投稿ボタン %>
<%= render "shared/footer" %>