<%= render "shared/header" %>
<hr class="my-1">
<div class="show-back">
  <h1 class="title-text text-center mb-4">＜投稿の詳細＞</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <label class="form-label">タイトル:</label>
            <%= @good_found.title %>
          </h5>
          <p class="card-text">
            <label class="form-label">内容:</label>
            <%= @good_found.event_detail %>
          </p>
          <p class="card-text">
            <label class="form-label">ユーザー名:</label>
            <%= @good_found.user.nickname %> さん
          </p>
          <p class="card-text">
            <label class="form-label">日付:</label>
            <%= @good_found.execution_date.strftime('%Y/%m/%d') %>
          </p>
          <p class="card-text">
            <label class="form-label">カテゴリー:</label>
            <%= @good_found.category.name %>
          </p>
          <div class="btn-group">
          <% if user_signed_in? && current_user.id == @good_found.user_id %>
            <%= link_to '編集する', edit_good_found_path(@good_found.id), class:"btn btn-sm btn-dark" %>
          <% end %>
            <%= link_to 'もどる', root_path, class: "btn btn-sm btn-outline-dark" %>
          </div>
        </div>
      </div>
      <hr>
      <div class="comment text-center">
        <h4 class='title-text'>＜コメント一覧＞</h4>
          <div class="comment-area">
            <%= render partial: 'comments/index', locals: { comments: @comments }, remote: true %>
          </div>
          <hr>
          <% if user_signed_in? %>
          <div class="comment">
            <h4 class="text-left title-text">コメントを投稿する</h4>
            <%= render partial: 'comments/form', locals: { comment: @comment, good_found: @good_found }, remote: true %>
          </div>
          <% else %>
            <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
          <% end %>
      </div>
    </div>
  </div>   
</div>
<%= render "shared/footer" %>

